[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=UltraEdit
Comment=Professional Text/Hex/Programmers Editor
GenericName=Text Editor
Exec=uex %U
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=ue
Categories=GNOME;GTK;Utility;TextEditor;
MimeType=text/plain;
StartupNotify=true
X-AppInstall-Package=uex
